.masonry {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    counter-reset: item-counter;
    margin-left: 15%;
    margin-right: 9%;
    margin-bottom: 200px;  
  }
  @media screen and (min-width: 400px) {
    .masonry {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
    }
  }
  @media screen and (min-width: 600px) {
    .masonry {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
    }
  }
  @media screen and (min-width: 800px) {
    .masonry {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4;
    }
  }
  @media screen and (min-width: 1113px) {
      .masonry {
        -webkit-column-count: 5;
           -moz-column-count: 5;
                column-count: 5;
      }
  }
  
  .item {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }