:root {
    --color-black: #232424;
    --color: #deb887;
}

/* P O R T F O L I O - P A G E */

#container__description__portfolio{
    position:relative;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 25vh;
    margin-bottom: 10vh;
    margin-left: 25%;
    width: 50%;
}
.projects__choice{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 60px;
    opacity: 0;
    animation: fadeInRight 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
.arrow__left {
    width: 40px;
    margin: 10px;
}
.arrow__right{
    width: 40px;
    margin: 10px;
}
.contenu__portfolio{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.number__project{
    position: relative;
    z-index: -5;
    pointer-events: none;
    left: 70px;
    top: -90px;
    font-size: 12em;
    font-weight: 900;
    color: #746a5b21;
    font-family: "RADIKAL-BLACK";
    opacity: 0;
    animation: fadein 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
.contenu__info__portfolio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin-left: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "RADIKAL-LIGHT";
}
.contenu__subtitle{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line__subtitle__portfolio{
    width: 50px;
    height: 4px;
    margin-right: 15px;
    background-color: var(--color);
}
.subtitle__portfolio{
    font-family: "RADIKAL-BLACK";
    letter-spacing: 2px;
    color: var(--color);
}
.title__portfolio{
    width: auto;
    line-height: normal;
    font-size: 60px;
    padding: 20px 0px;
    font-family: "RADIKAL-BLACK";
    letter-spacing: 10px;
    color: var(--color-black);
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
}
.missions__portfolio{
    font-size: 12px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "RADIKAL-LIGHT";
    letter-spacing: 1.5px;
    animation: fadeInUp 1s;
    animation-delay: 1.6s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.description__portfolio{
    width: 50%;
    margin: 6vh auto 6vh 25%;
    font-family: "RADIKAL-LIGHT";
    font-size: 13px;
    text-align: justify;
    letter-spacing: 1.1;
    color: var(--color-black);
    padding: 50px 0px;
    line-height: 1.7;
}
.line__down{
    width: 3px;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color);
}




/* O T H E R   P R O J E C T */
#container__other__project{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: auto;
    margin-left: 10%;
    margin-right: 5%;
    font-family: "RADIKAL-BLACK";
    text-transform: uppercase;
    margin-bottom: 200px;
}
.contenu__other__project{
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle__other__project{
    font-family: "RADIKAL-LIGHT";
    letter-spacing: 2px;
    font-weight: 400;
    color: var(--color);
    font-size: 14px;
    padding: 10px 0px;
}
.title__other__project{
    font-size: 25px;
    letter-spacing: 2px;}
.img__other_project{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cta__other_project{
    width: auto;
    padding: 10px 25px;
    border : solid 2px var(--color);
    font-size: 12px;
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "RADIKAL-LIGHT";
    font-weight: 400;
}
.cta__other_project:hover{
    font-family: "RADIKAL-LIGHT";
    font-weight: 400;
    width: auto;
    padding: 10px 25px;
    border : solid 2px var(--color);
    background-color: var(--color);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


@keyframes goDown {
    from {
        top:0vh;
    }
    to {
        top:90vh;
    }
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0);
        opacity:0;
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  @keyframes fadeInLeft {
    from {
        transform: translate3d(100px,0,0);
        opacity:0;
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  @keyframes fadeInRight {
    from {
        transform: translate3d(-100px,0,0);
        opacity:0;
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
  }
