.header {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/plant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}