@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$font-1: 'Playfair Display', serif;
$font-2: 'Source Sans Pro', sans-serif;

$color-bg : #F7EEE9;
$color-white : #fffcf9;
$color-font : #161513;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
    color: $color-font;
}

li {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    cursor: pointer;
}